*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

html{
    height: -webkit=fill-available;
}

/*BACKGROUND*/
body{
    background-image: url("back.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    height: -webkit=fill-available;
}
/*BACKGROUND*/

main{
    flex: 1;
    overflow: scroll;
}

.container{
    padding: 16px;
}

#form{
    background-color: aqua;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

#form input{
    all: unset;
    font: 15px;
    color: rgb(18, 16, 16);
    padding: 16px 10px;
    height: 100%;
    width: 100%;
}

::placeholder{
    color: #fff;
    opacity: 0.7;
}

#form input button{
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg {
    color: rgb(21, 20, 21);
    fill: currentColor;
    /*width: 24px;
    height: 24px;
    padding: 10px;*/
    height: 24px;
    width: 24px;
}

/*HEADER*/
#Anchor a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

#header{
    border-bottom: 4px black solid;
     position: fixed;
     background-color: #fff;
     width: 100%;
     margin-top: 10px;
     /*margin-left: 220px;
     margin-right: auto;*/
     margin-bottom: 700px;
     padding: 50px;
     transition: 0.3s;
    /*justify-content: center;
    align-items: center;*/
}

/*header{
    
    margin-bottom: 50px;
    background-color: #fff;
    padding-top: 30px;
    min-height: 70px;
}*/

.menu-bar {
  background-color: var(--color-black);
  /*height: 80px;
  width: 100%;*/
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  padding: 0 5%;
  float: left;
  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 20px;
  /* text-align: center; */
  float: left;

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
float: left;
  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}


#Anchor li{
    display: inline;
    /*float: left;*/
    padding: 0 20px 0 20px;
    border-bottom: 7px solid blue;
}

#branding h1{
    margin: 0;
}

#branding img{
    float: right;

}

nav{
   /* float: right;*/
    margin-top: 15px;
    margin-bottom: 50px;
}

#Anchor a:hover{
    color: blue;
    font-weight: bold;
}

#Anchor .current a{
    color: orange;
    font-weight: bold;
}

/*HEADER*/
h1{
    color: blueviolet;
    font-size: 50px;
   /* margin-left: 10px;*/
}

.personal{
    color: black;
    font-size: 30px;
    text-align: center;
}

p{
    margin: 20px;
}

input{
    text-align: center;
    border: none;
    background: transparent;
    border-bottom: 2px solid gold;
    color: black;
    font-size: 17px;
    font-weight: 600;
    transition: border 0.5s;
    padding: 10px 0;
    outline: none;
}

#border{
    border:rgb(219, 247, 4) double;
    background-color: grey;
    width:450px;
    margin: auto;
    color: rgb(5, 1, 23);
    padding-top: 20px;
    padding-left: 20px;
    text-align: center; 
    margin-bottom: 50px;  
}

.button_1, button{
    border-radius: 40px;
    width: 200px;
    padding:10px;
    background-color: gold;
    cursor: pointer;
    color: black;
    font-style: oblique;
    font-weight: bolder;
    border: none;
}

.button_1:hover{
    background-color: aqua;
}

button:hover{
    background-color: rgb(27, 28, 28);
} 

.logsignin{
    color: gold;
}

img{
    width: 310px;
}

.highlight{
    color: blue;
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0;
}


p{
    color: rgb(37, 35, 37);
}

.list{
   background-color: #fff;
    margin-top: 200px;
    width: 1000px;
    margin-top: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 50px;
    transition: 0.3s;
}

/*#frequent{
    background-color: #fff;
    margin-top: 390px;
    width: 1000px;
    padding-bottom: 50px;
    margin: auto;
    margin-bottom: 100px;
}*/

.asphalt{
    padding: 50px;
}

.asp{
  padding: 50px;
}

h3{
    padding-top: 50px;
    margin-left: 30px;
}

h4{
    margin-left: 30px;
}

h2{
    text-align: center;
}

textarea{
    margin-left: 30px;
}

#send{
    margin-left: 65px;
    margin-bottom: 20px;
}

div #door{
    width: 450px;
    height: 800px;
    border: solid black 50px;
    padding: 20px;
    margin: 0;
    margin-left: 5px;
    border-radius: 50px;
}

.a{
    background: linear-gradient(red, blue);
    width: 300px;
    height: 200px;
    margin: 15px 0 15px 0; 
    border-radius: 50px 5px 50px 5px;
    filter: blur(7px);
}

.b{
    background-color: rgb(135, 191, 31);
    width: 300px;
    height: 200px;
    margin: 15px 0 15px 0;
    border-radius: 50px 5px 50px 5px;
    filter: blur(7px);
}

.c{
    background-color: rgb(191, 21, 21);
    width: 300px;
    height: 200px;
    margin: 15px 0 15px 0; 
    border-radius: 50px 5px 50px 5px;
    filter: blur(7px);
}

#door1{
     width: 450px;
     height: 800px;
     border: solid black 50px;
     padding: 20px;
     margin: 0;
     border-radius: 50px;
 }


.d{
    background-image: url(asphalt.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    margin: 15px 0 15px 0; 
}

.e{
    background-image: url(callofduty.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    margin: 15px 0 15px 0; 
}

.f{
    background-image: url(shadowfight3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    margin: 15px 0 15px 0; 
}

#sep{
    display: flex;
    gap: 60px;
}

.aa{
    background-color: rgb(255, 0, 0);
    width: 500px;
    height: 50px;
    margin: 15px 0 15px 0; 
}

.bb{
    background-color: rgb(0, 255, 0);
    width: 500px;
    height: 50px;
    margin: 15px 0 15px 0; 
}

.cc{
   /* background: ;*/
    width: 500px;
    height: 50px;
    margin: 15px 0 15px 0; 
}

div #marker{
     padding: 20px;
     margin: 0;
     margin-left: 5px;
 }
 
 #search{
    float: right;
 }

 .footer{
    border-top: 4px solid black;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.field{
    margin: 0 auto 5px auto;
}